#profile-picture {
    margin-left: -15px;
    margin-right: -15px;

    .card-img-overlay {
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);

        .position-relative {
            top: calc(100% - 60px);
        }
    }
}
